# Dependencies
node_modules/

# Build output
dist/

# Environment files
*.local
.env
.env.*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Desktop.ini
._*
Thumbs.db

# Cache
.cache/
*.tsbuildinfo
