html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #1C1C1C;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;    
}

.content-wrapper {
    background-color: #262626;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0, 0.4);
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.image-wrapper {
    order: 1;
    background: url("resources/face-image-bw-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
}

.name-wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: #FAFAFA;
    font-family: 'Raleway', sans-serif;
}

#name {
    font-size: 1.85em;
    line-height: 2.5em;
    letter-spacing: 0.22em;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
}

.links-wrapper a{
    height: 70px;
    width: 25%;
}

.icon {
    height: 100%;
    width: 100%;
}